@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

:root {
  --line-border-fill: #76a900;
  --line-border-empty: #bdbdbd;
  --background-fill: #76a900;
}

* {
  box-sizing: border-box;
}

.container {
    text-align: center;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: end;
    justify-content: center;
    height: 31vh;
    overflow: hidden;
    margin: -72px auto;
    
  }

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.progress-container::before {
  content: '';
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  /* z-index: -1; */
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  /*  */
  transition: 0.4s ease;
}


.circle{
    background-color: #fff;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid var(--line-border-empty);
    border-radius: 50%;
    transition: all .4s ease-in;
    cursor: pointer;
    z-index: 2;
  }
  .circle.active{
    border-color: var(--line-border-fill);
    background-color: var(--background-fill);
    color: #fff;
    box-shadow: 0px 0px 31px -2px rgba(0,105,37,0.62);
  }

.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;

  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}
.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}