.canvas-container {
  /* height: 500px;
  width: 500px; */
  border: 2px solid #000;
}
.toolbar-canvas {
  display: flex;
  align-content: center;
  line-height: 2;
  justify-content: space-between;
  gap: 10px;
  margin: 15px 5px 0px -3px;
}

.toolbar__btn {
  height: 25px;
  width: 25px;
  border: none;
  outline: none;
  cursor: pointer;
  background-size: cover;
  padding: 20px;
}
.toolbar__btn:hover {
  background-color:#f5f3f4;
}
.brush {
  background: url('../../assets/img/brush.png') no-repeat center center;
}

.eraser {
  background: url('../../assets/img/eraser.png') no-repeat center center;
}
.textA {
  background: url('../../assets/img/text.png') no-repeat center center;
}

.clear {
  background: url('../../assets/img/clear.png') no-repeat center center;
}
.fill {
  background: url('../../assets/img/fill.png') no-repeat center center;
}

.undo {
  margin-left: auto;
  background: url('../../assets/img/undo.png') no-repeat center center;
}
.save {
  background: url('../../assets/img/save.png') no-repeat center center;
  margin-right: 10px;
} 

.color-options {
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 5px;
  cursor: pointer;
}
.color-option {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-top: 3px;
  position: relative;
}
.color-option:is(:hover, .active) img{
  filter: invert(17%) sepia(90%) saturate(3000%) hue-rotate(900deg) brightness(100%) contrast(100%);
}
.color-option :where(span, label){
  color: #5A6168;
  cursor: pointer;
  padding-left: 10px;
}
/* .color-option:is(:hover, .active) :where(span, label){
  color: #4A98F7;
} */
.color-option:nth-child(1){
  background-color: rgb(224, 32, 32);
}
.color-option:nth-child(2){
  background-color: rgb(109, 212, 0);
}
.color-option:nth-child(3){
  background-color: rgb(74, 152, 247);
}
.color-option:nth-child(4){
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(191, 191, 191);
}
.color-option:nth-child(5){
  border: 1px solid rgb(191, 191, 191);
  background-color: #000000;
}
.color-option.selected::before{
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  height: 12px;
  width: 12px;
  background: inherit;
  border-radius: inherit;
  border: 2px solid #fff;
  transform: translate(-50%, -50%);
}
.color-option:nth-child(4).selected::before {
  border-color: #ccc;
}
.color-option #color-picker{
  opacity: 0;
  cursor: pointer;
    width: 27px;
}