@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto+Condensed:wght@300;400;700&display=swap");

:root {
  --col1: #7ED957;
  --col2: gray;
  --col3: #cecece;
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  color: #4e4e3f;
  background-color: #ececec;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 125%;
}

.wrapper {
  padding: 22px 30px;
  width: 800px;
  margin: 0 auto;
}

.wrapper.large {
  width: 1000px;
}

.wrapper.shadow {
  margin-top: 25px;
}

.card {
  box-shadow: 1px 1px 16px #ccc;
  padding: 0 15px 15px 15px;
}

.titlu {
  font-size: 29px;
  font-weight: 500;
  background-color: #508ccd;
  padding: 15px;
  text-align: center;
  color: white;
  margin-top: 10px;
}
.skill .titlu {
  font-size: 29px;
  font-weight: 500;
  padding: 15px;
  text-align: center;
  color: white;
  margin-top: 10px;
}
.titlu-card {
  margin: 10px -15px;
}
.manuale {
  padding: 39px 30px;
  width: 800px;
  margin: 0 auto;
}

.manuale > h2 {
  font-size: 29px;
  font-weight: 500;
  background-color: #508ccd;
  padding: 15px;
  text-align: center;
  color: white;
  margin-top: 10px;
}
.manuale-container {
  background-color: white;
  display: flex;
  gap: 20px;
  padding: 40px 45px;
}

.manuale-container-result {
  display: flex;
  gap: 83px;
  padding: 20px 45px;
}

div.manual-item {
  text-align: center;
  width: 33%;
  cursor: pointer;
}

div.manual-item-result {
  text-align: center;
  cursor: pointer;
}

.manual-item1:hover {
  animation: pulse;
  animation-duration: 1s;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-o-keyframes pulse {
  0% {
    -o-transform: scale(1);
  }
  50% {
    -o-transform: scale(1.1);
  }
  100% {
    -o-transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.1);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.manual-item:hover, .manual-item-result:hover {
  -webkit-animation: pulse 1s ease 0s infinite normal;
  -o-animation: pulse 1s ease 0s infinite normal;
  -moz-animation: pulse 1s ease 0s infinite normal;
  animation: pulse 1s ease 0s infinite normal;
}

.manual-item a {
  text-decoration: none;
  color: inherit;
  position: relative;
}

.manual-item img {
  height: 134px;
  object-fit: cover;
  width: 134px;
  border-radius: 50%;
}

div.manual-item > a > img:nth-child(2) {
  position: absolute;
  left: -10px;
  width: 154px;
  height: 154px;
  top: -126px;
}

.manual-item-result a {
  text-decoration: none;
  color: inherit;
}

.manual-item-result img {
  height: 150px;
  object-fit: cover;
  width: 150px;
  border-radius: 50%;
  padding: 11px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px gray solid;
}

.manual-item-result.selected img {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.39);
}

.manual-item-result p {
  padding-top: 10px;
  /* color: #000; */
}

.breadcrumb {
  list-style: none;
  padding: 0 0 8px;
}
.breadcrumb > li {
  display: inline;
}
.breadcrumb > li + li::before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}

.title-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  align-items: end;
}
.title-img {
  display: flex;
  align-items: center;
  gap: 10px;
}
.title-box h1 {
  font-weight: 400;
  font-size: 1.875em;
  line-height: 1.1;
}
.title-card {
  padding: 10px;
  text-align: center;
  font-weight: 700;
  
}

/*History*/
.teme-container {
  padding: 40px 0px 0px;
}
.teme-container h2 {
  font-size: 29px;
  font-weight: 500;
}
.teme-container {
  /* animation: fadeInRight; 
  animation-duration: 1s;  */
}
.topic-item h3,
header h3 {
  font-size: 1.5rem;
  font-weight: 400;
}
.program-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.progress-box {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 0 15px;
}

.progress-box span {
  text-align: right;
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.125rem;
}

.progress {
  width: 100px;
  background-color: #ddd;
  margin-bottom: 10px;
}

.bar {
  width: 1%;
  height: 8px;
  background-color: #04aa6d;
}

.topic-progress {
  padding-left: 1em;
  white-space: nowrap;
  font-size: 1.2rem;
}
.topic-progress .progres-prcnt {
  width: 130px;
  display: inline-block;
  height: .5em;
  position: relative;
}
.topic-progress .progres-prcnt .back-progress {
  border-bottom: 4px solid #c2c2c2;
  width: 100%;
}
.topic-progress .progres-prcnt span {
  position: absolute;
  display: inline-block;
}
.topic-progress .progres-prcnt .value-progress {
  overflow: hidden;
  height: 4px;
}
.topic-progress .progres-prcnt .for-progress {
  border-bottom: 4px solid #3ba900;
  width: 130px;
}

.crc-mark {
  display: inline-block;
  border-radius: 50%;
  color: #3ba900;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  line-height: 1.1em;
  border: .15em solid #3ba900;
  background-color: #fff;
  letter-spacing: -.15em;
  padding-right: .2em;
}

.svg-sprite-vs-small {
  vertical-align: middle;
  width: 1.3em;
  height: 1.3em;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

.svg-sprite-vs-small.result-perfect {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2234%22%20height%3D%2234%22%3E%3Cg%3E%3Cg%3E%3Ccircle%20cx%3D%2217%22%20cy%3D%2217%22%20r%3D%2217%22%20fill%3D%22%2341ac49%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22m15.28%2025.52-8.91-9.38%203.89-3.7%204.96%205.22%208.47-9.18%203.95%203.64-12.36%2013.4z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}

.svg-sprite-vs-small.result-tried {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2234%22%20height%3D%2234%22%3E%3Cg%3E%3Cg%3E%3Ccircle%20cx%3D%2217%22%20cy%3D%2217%22%20r%3D%2217%22%20opacity%3D%22.25%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22m25.22%2011.96-3.18-3.18L17%2013.82l-5.04-5.04-3.18%203.18L13.82%2017l-5.04%205.04%203.18%203.18L17%2020.18l5.04%205.04%203.18-3.18L20.18%2017l5.04-5.04z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}

.tbl-points {
  color: gray;
  font-size: 1.25rem;
  white-space: nowrap;
}

.tbl-points .svg-sprite-vs-points {
  vertical-align: middle;
  width: 1em;
  height: 1em;
}
.svg-sprite-vs-points.profile-point-full {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%3E%3Cg%3E%3Cg%3E%3Cpath%20d%3D%22M9%2018a9%209%200%201%200-9-9%209%209%200%200%200%209%209%22%20fill%3D%22%2396bd40%22%2F%3E%3Cpath%20d%3D%22M18%209.21%209%203.34v11.31l3.84%202.48A9%209%200%200%200%2018%209.21z%22%20opacity%3D%22.2%22%2F%3E%3Cpath%20fill%3D%22%23e9f1d8%22%20d%3D%22M9%2014.65%204.83%209%209%203.34%2013.17%209%209%2014.65z%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M4.83%209H9V3.34L4.83%209z%22%2F%3E%3Cpath%20fill%3D%22%23e9f1d8%22%20d%3D%22M4.83%209H9v5.65L4.83%209z%22%2F%3E%3Cpath%20fill%3D%22%23d5e4b1%22%20d%3D%22M13.17%209H9v5.65L13.17%209z%22%2F%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h18v18H0z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}

.svg-sprite-vs-points.profile-point-half {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%3E%3Cdefs%3E%3CclipPath%20id%3D%22a%22%3E%3Cpath%20d%3D%22M9%2018a9%209%200%201%200-9-9%209%209%200%200%200%209%209%22%20fill%3D%22%23d3d3d3%22%2F%3E%3C%2FclipPath%3E%3C%2Fdefs%3E%3Cg%3E%3Cg%3E%3Cpath%20d%3D%22M9%2018a9%209%200%201%200-9-9%209%209%200%200%200%209%209%22%20fill%3D%22%23d3d3d3%22%2F%3E%3Cg%20clip-path%3D%22url(%23a)%22%3E%3Cpath%20fill%3D%22%2399bd35%22%20d%3D%22M0%200h9.01v18H0z%22%2F%3E%3C%2Fg%3E%3Cpath%20d%3D%22M18%209.21%209%203.34v11.31l3.84%202.48A9%209%200%200%200%2018%209.21z%22%20opacity%3D%22.2%22%2F%3E%3Cpath%20fill%3D%22%23eaeaea%22%20d%3D%22M9%2014.65%204.83%209%209%203.34%2013.17%209%209%2014.65z%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M4.83%209H9V3.34L4.83%209z%22%2F%3E%3Cpath%20fill%3D%22%23eaeaea%22%20d%3D%22M4.83%209H9v5.65L4.83%209z%22%2F%3E%3Cpath%20fill%3D%22%23cecece%22%20d%3D%22M13.17%209H9v5.65L13.17%209z%22%2F%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h18v18H0z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}

.svg-sprite-vs-points.profile-point-empty {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%3E%3Cg%3E%3Cg%3E%3Cpath%20d%3D%22M9%2018a9%209%200%201%200-9-9%209%209%200%200%200%209%209%22%20fill%3D%22%23d3d3d3%22%2F%3E%3Cpath%20d%3D%22M18%209.21%209%203.34v11.31l3.84%202.48A9%209%200%200%200%2018%209.21z%22%20opacity%3D%22.2%22%2F%3E%3Cpath%20fill%3D%22%23eaeaea%22%20d%3D%22M9%2014.65%204.83%209%209%203.34%2013.17%209%209%2014.65z%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22M4.83%209H9V3.34L4.83%209z%22%2F%3E%3Cpath%20fill%3D%22%23eaeaea%22%20d%3D%22M4.83%209H9v5.65L4.83%209z%22%2F%3E%3Cpath%20fill%3D%22%23cecece%22%20d%3D%22M13.17%209H9v5.65L13.17%209z%22%2F%3E%3Cpath%20fill%3D%22none%22%20d%3D%22M0%200h18v18H0z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}

.svg-sprite-vs.needcheck {
  background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2234%22%20height%3D%2234%22%3E%3Cg%3E%3Cg%3E%3Ccircle%20cx%3D%2217%22%20cy%3D%2217%22%20r%3D%2217%22%20opacity%3D%22.25%22%2F%3E%3Cpath%20d%3D%22m26.12%2023.64-3.61-3.47a7%207%200%201%200-2.09%202.13L24%2025.75a1.49%201.49%200%200%200%202.11-2.11zm-13.9-7.19a4.38%204.38%200%201%201%204.41%204.4%204.38%204.38%200%200%201-4.41-4.4s0%20.01%200%200z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E')
 }
  /* .svg-sprite-vs.result-passed {
  background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2234%22%20height%3D%2234%22%3E%3Cg%3E%3Cg%3E%3Cpath%20d%3D%22M17%203A14%2014%200%201%201%203%2017%2014%2014%200%200%201%2017%203m0-3a17%2017%200%201%200%2017%2017A17%2017%200%200%200%2017%200z%22%20fill%3D%22%2341ac49%22%2F%3E%3Cpath%20fill%3D%22%2341ac49%22%20d%3D%22m15.28%2025.52-8.91-9.38%203.89-3.7%204.96%205.22%208.47-9.18%203.95%203.64-12.36%2013.4z%22%20opacity%3D%22.5%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E')
 } */
 .svg-sprite-vs.share {
  background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%3E%3Cg%3E%3Cpath%20d%3D%22M13.267%2010.635a2.749%202.749%200%200%200-1.973.829l-5.879-3a2.656%202.656%200%200%200%20.052-.516%202.626%202.626%200%200%200-.049-.5l5.863-2.934a2.747%202.747%200%200%200%201.986.843A2.708%202.708%200%200%200%2016%202.682a2.734%202.734%200%200%200-5.467%200%202.626%202.626%200%200%200%20.049.5L4.719%206.113a2.748%202.748%200%200%200-1.986-.842%202.682%202.682%200%201%200%200%205.364%202.748%202.748%200%200%200%201.973-.828l5.879%202.993a2.674%202.674%200%200%200-.052.517%202.734%202.734%200%201%200%202.734-2.683z%22%20fill%3D%22%2300aeef%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E')
 }
 .svg-sprite-vs.student-results {
  background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%3E%3Cpath%20fill%3D%22%2300aeef%22%20d%3D%22M5.1%208.3c-2.8%200-5.1%202.2-5.1%205%200%20.9.8%201.7%201.7%201.7h6.8c.9%200%201.7-.7%201.7-1.7%200-2.8-2.3-5-5.1-5zm0-1.7c1.4%200%202.6-1.1%202.6-2.5S6.6%201.6%205.1%201.6c-1.4%200-2.6%201.1-2.6%202.5s1.1%202.5%202.6%202.5zM13.9%203.4c0%201.1-.9%202-2.1%202s-2.1-.9-2.1-2%20.9-2%202.1-2%202.1.9%202.1%202zM11.8%206.7c-1.3%200-2.4.6-3.2%201.5%201.5.9%202.5%202.3%203%203.9h3c.8%200%201.4-.6%201.4-1.4%200-2.2-1.9-4.1-4.2-4.1z%22%2F%3E%3C%2Fsvg%3E')
 }
 .svg-sprite-vs.student-top {
  background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2216%22%3E%3Cg%3E%3Cpath%20d%3D%22M15.62%201.16H12.7V.72h.23a.15.15%200%200%200%20.13-.16v-.4a.15.15%200%200%200-.12-.16H2.84a.15.15%200%200%200-.13.16v.39a.15.15%200%200%200%20.13.16h.46v.44H.38a.43.43%200%200%200-.38.48V3a6.46%206.46%200%200%200%203.84%205.58%204.17%204.17%200%200%200%202.75%202.63v1.1H4.11v3h-.35V16H12v-.67h-.36v-3H9.12v-1a4.12%204.12%200%200%200%203-2.7A6.45%206.45%200%200%200%2016%203V1.63a.43.43%200%200%200-.38-.47zM.85%203v-.65A.15.15%200%200%201%201%202.19h2.3v3.19a10.16%2010.16%200%200%200%20.16%201.85C2.28%206.38.85%204.82.85%203zm14.3%200c0%201.79-1.42%203.35-2.61%204.19a10.21%2010.21%200%200%200%20.16-1.85V2.19H15a.15.15%200%200%201%20.13.16z%22%20fill%3D%22%233daef2%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E')
 }
 .svg-sprite-vs.top-point-empty {
  background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%3E%3Cg%3E%3Cg%3E%3Cpath%20d%3D%22M9%2018a9%209%200%201%200-9-9%209%209%200%200%200%209%209%22%20fill%3D%22%23d3d3d3%22%2F%3E%3Cpath%20d%3D%22M18%209.16%209%203.61%205.67%2013.82l6%203.78A9%209%200%200%200%2018%209.16z%22%20opacity%3D%22.2%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22m9.01%203.61%201.66%203.36%203.7.54-2.68%202.62.63%203.69-3.31-1.74-3.32%201.74.64-3.69-2.69-2.62%203.71-.54%201.66-3.36z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E')
 }
 .svg-sprite-vs.top-point-full {
  background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%3E%3Cg%3E%3Cg%3E%3Cpath%20d%3D%22M9%2018a9%209%200%201%200-9-9%209%209%200%200%200%209%209%22%20fill%3D%22%23ff8500%22%2F%3E%3Cpath%20d%3D%22M18%209.16%209%203.61%205.66%2013.82l6%203.78A9%209%200%200%200%2018%209.16z%22%20opacity%3D%22.2%22%2F%3E%3Cpath%20fill%3D%22%23fff1e0%22%20d%3D%22m9%203.61%201.66%203.36%203.71.54-2.69%202.62.64%203.69L9%2012.08l-3.32%201.74.64-3.69-2.69-2.62%203.71-.54L9%203.61z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E')
 }

.tbl-points .points {
  vertical-align: middle;
  margin-left: .1em;
}
.svg-sprite-vs-points {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
}

.topic-list {
  margin-top: 1.25em;
  list-style: none;
  counter-reset: tplc;
  font-size: 1.563em;
}
.teme-container {
  /* animation: fadeInRight; 
  animation-duration: 1s;  */
}
.teme-container h3,
header h3 {
  font-size: 1.5rem;
  font-weight: 400;
}
.topic-header {
  display: flex;
  justify-content: space-between;
}
.topic-list > li.topic-item {
  margin-top: 1.1em;
  line-height: 1.25;
}
.topic-list > li {
  margin-bottom: 0.5em;
}
.topic-header-title {
  display: flex;
}
.topic-list .num {
  counter-increment: tplc;
}
.topic-list .num::before {
  content: counter(tplc, upper-roman) ".";
  text-align: right;
  display: block;
  padding-right: 0.5em;
  min-width: 1.8em;
}
.subtopic-list {
  padding-left: 2.5em;
  margin-top: 0.313em;
  font-size: 0.64em;
  counter-reset: stplc;
  list-style-type: none;
}
.subtopic-list li {
  line-height: 1.5em;
  margin-bottom: 0.5em;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.subtopic-header {
  display: flex;
}
.subtopic-list .num {
  counter-increment: stplc;
}
.subtopic-list .num::before {
  content: counter(stplc, decimal) ".";
}
.subtopic-list h4 {
  font-size: 1.125rem;
  font-weight: 400;
}

a {
  color: #337ab7;
  text-decoration: none;
  background-color: transparent;
}
a:focus,
a:hover,
span[data-img]:hover,
span[data-box]:hover {
  outline: 0;
  color: #23527c;
  text-decoration: underline;
  cursor: pointer;
}
.menu-header .logo a {
  display: flex;
  background-color: #048873;
  justify-content: center;
  align-items: center;
  height: 80px;
}
a,
a:visited,
a:hover,
a:focus,
.panel .text-block span[data-img],
.panel .text-block span[data-box] {
  color: #00aeef;
  text-decoration: none;
  transition: color 0.3s ease;
}

.text-block span:hover {
  color: #0077b6;
}

.text-block.correct {
  background-color: #d1faf2;
  padding: 5px;
  border-radius: 10px;
}

.text-block.incorrect {
  background-color: #ffcad4;
  padding: 5px;
  border-radius: 10px;
}

.block {
  margin: 0 auto 4em;
  border: 0.0625rem solid #ccc;
  background-color: #fff;
  box-shadow: 1px 1px 16px #ccc;
  padding-bottom: 0px;
  position: relative;
}
.schema-recapitulativa {
  margin: 0 -100px 4em;
}

.block.blockPB50 .accordion.active ~ .container {
  margin-bottom: -19px;
}

.block .header,
.block .accordion {
  min-height: 2em;
  line-height: 2.5em;
  padding: 0.3em 1.5em;
  background-color: #76a900;
  color: #fff;
}

.subjects-container,
.tests-container {
  padding: 2em 2em 2.5em;
}

.subjects-container.panel {
  padding: 0;
}

.subjects-container.text-raspuns:only-child {
  padding: 2em 2em 2.5em;
}

.subjects-container + .subjects-container.text-raspuns {
  padding: 1em 2em 0;
}

.subjects-container.text-raspuns:first-child:not(:only-child) {
  padding: 2em 2em 0;
}

.subjects-container.text-raspuns:last-child:not(:only-child) {
  padding: 1em 2em 2.5em;
}

.subject-item,
.test-item {
  display: flex;
  justify-content: space-between;
  line-height: 2em;
  padding: .313em 32px;
  margin: 0 -32px;
  align-items: center;
}
.subject-item:hover,
.test-item:hover {
  background-color: #ededed;
}
.title-item {
  display: flex;
  gap: 5px;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion h3:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #fff;
  float: right;
  margin-left: 5px;
}

.accordion.active h3:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.hide {
  display: none;
}

.hideImportant {
  display: none !important;
}

/* Diagram-tree */
.tree,
.tree ul,
.tree li {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.tree {
  margin: 0 0 1em;
  text-align: center;
}
.tree,
.tree ul {
  display: table;
}
.tree ul {
  width: 100%;
}
.tree li {
  display: table-cell;
  padding: 0.5em 0;
  vertical-align: top;
}
/* _________ */
.tree li:before {
  outline: solid 1px #666;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.tree li:first-child:before {
  left: 50%;
}
.tree li:last-child:before {
  right: 50%;
}
.tree code,
.tree span {
  border: solid 0.1em #666;
  border-radius: 0.2em;
  display: inline-block;
  margin: 0 0.2em 0.5em;
  padding: 0.2em 0.5em;
  position: relative;
  background-color: #edf2fb;
}

.tree code:hover {
  background-color: #bde0fe;
  cursor: pointer;
}
/* If the tree represents DOM structure */
/* | */
.tree ul:before,
.tree code:before,
.tree span:before {
  outline: solid 1px #666;
  content: "";
  height: 0.5em;
  left: 50%;
  position: absolute;
}
.tree ul:before {
  top: -0.5em;
}
.tree code:before,
.tree span:before {
  top: -0.55em;
}
/* The root node doesn't connect upwards */
.tree > li {
  margin-top: 0;
}
.tree > li:before,
.tree > li:after,
.tree > li > code:before,
.tree > li > span:before {
  outline: none;
}

/* Slider */
.slick-slide  {
  margin: 4px auto;
}

.slick-slide img {
  display: block;
  width: 90%;
  height: 90%;
  object-fit: cover;
  margin: 0 auto;
}
.slick-active a img {
  border: 2px solid #474747;
  box-sizing: border-box;
  box-shadow: 1px 1px 16px #ccc;
}
button.slick-prev::before,
button.slick-next::before {
  color: #111 !important;
}

.audio audio {
  max-width: 100%;
  width: 100%;
  margin: 3em auto -2.5em;
}

.custom-link {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #fff 50%)
      100% 50% / 220% 100% no-repeat,
    linear-gradient(to right, #3eaad8, #3eaad8) 100% 100% / 100% 2px no-repeat,
    linear-gradient(to right, #3eaad8, #3eaad8) 100% 0% / 100% 2px no-repeat,
    linear-gradient(to right, #3eaad8, #3eaad8) 0 0 / 2px 100% no-repeat,
    linear-gradient(to right, #3eaad8, #3eaad8) 100% 0 / 2px 100% no-repeat;
  color: #008cd8;
  cursor: pointer !important;
  font: normal normal 20px / 1.35 "Work Sans", Helvetica, Arial, Verdana,
    sans-serif;
  padding: 5px 8px;
  text-decoration: none !important;
  transition: all 0.5s ease-in-out;
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
}

.custom-link:hover, .custom-link:focus {
  background-position: 0 50%, 100% 100%, 100% 0, 0 0, 100% 0;
  color: #000;
  outline: none;
  transition: all .5s ease-in-out;
}


.custom-link_7 {
  background: linear-gradient(to bottom, #ff40a1 0, #ff40a1 100%) 0 calc(100% + 2px) / 2px 2px repeat-x;
  color: #4e4e3f !important;
  cursor: pointer !important;
  /* font: normal 600 20px / 1.35 "Kanit", "Muli", Helvetica, Arial, Verdana, sans-serif; */
  font-size: 19px;
  text-decoration: none !important;

  -webkit-transition: all .35s ease-in-out;
          transition: all .35s ease-in-out; }

.custom-link_7:hover, .custom-link_7:focus {
  background-position: 0 97%;
  
  -webkit-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out; }

/* checkbox */
.switch {
  position: relative;
  width: 40px;
  height: 20px;
  -webkit-appearance: none;
  background: #c6c6c6;
  outline: none;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: background 300ms linear;
}
 /* circle */
.switch::before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  top: 0px;
  left: 0px;
  border-radius: 20px;
  background-color: #fff;
  transform: scale(1.1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: left 300ms linear;
}  
/* move to right */
.switch:checked {
  background: #03a9f4;
}
.switch:checked::before {
  left: 25px;
  background-color: #fff;
}
.label-switch {
  display: flex;
  align-items: center;
  gap: 15px;
}

.btn-test {
  background: #33a1fd;
  color: #fff;
  border-radius: 10px;
  -webkit-text-shadow: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-width: 124px;
  font-family: inherit;
  line-height: 28px;
  white-space: normal;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  padding: 6px 12px;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 2em 2em;
}
.btn-test:hover {
  background: #0582ca;
}

.btn-test.disable {
  /* background: #bbd0ff; */
  cursor: not-allowed;
  background-color: #d6d6d6 !important;
  color: gray !important;
}

.btn-test-save {
  background: #ff6b35;
  color: #fff;
  border-radius: 10px;
  -webkit-text-shadow: none;
  text-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-width: 124px;
  font-family: inherit;
  line-height: 28px;
  white-space: normal;
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  padding: 6px 12px;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0 2em 2em;
}
.btn-test-save:hover {
  background: #ca5310;
}

.btn-test-save.disable {
  /* background: #bbd0ff; */
  cursor: not-allowed;
  background-color: #d6d6d6 !important;
  color: gray !important;
}

.option-input {
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 3.333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 20px;
  width: 20px;
  transition: all 0.15s ease-out 0s;
  /*! background: #cbd1d8; */
  border: 2px solid #76a900;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
}
.option-input.radio {
  border-radius: 50%;
}

.option-input:hover {
  background: #9faab7;
}
.option-input:checked {
  background: #8ecae6;
}
.option-input:checked::before {
  width: 10px;
  height: 10px;
  display:flex;
  content: '✓';
  font-size: 25px;
  font-weight:bold;
  position: absolute;
  align-items:center;
  justify-content:center;
  left: 4px;
  top: -1px;
  color: #2b2525;
}
.option-input:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #8ecae6;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
.option-input.radio {
  border-radius: 50%;
}

div.ns-radio-btn {
  line-height: 1.5;
 }
 
@keyframes click-wave {
  0% {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    opacity: 0.35;
    position: relative;
  }
  100% {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-left: -80px;
    margin-top: -80px;
    opacity: 0;

  }
}
.answer-result {
  padding: 2em 2em;
  border-bottom: 1px solid gray;
  display: flex;
  align-items: center;
  gap: 10px;
}
.answer-result h3 {
  font-size: 1.5rem;
  font-weight: 400;
}
.svg-sprite-vs {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 2.125rem;
  height: 2.125rem;
}
.svg-sprite-vs.result-perfect {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2234%22%20height%3D%2234%22%3E%3Cg%3E%3Cg%3E%3Ccircle%20cx%3D%2217%22%20cy%3D%2217%22%20r%3D%2217%22%20fill%3D%22%2341ac49%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22m15.28%2025.52-8.91-9.38%203.89-3.7%204.96%205.22%208.47-9.18%203.95%203.64-12.36%2013.4z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}
.svg-sprite-vs.result-tried {
  background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2234%22%20height%3D%2234%22%3E%3Cg%3E%3Cg%3E%3Ccircle%20cx%3D%2217%22%20cy%3D%2217%22%20r%3D%2217%22%20opacity%3D%22.25%22%2F%3E%3Cpath%20fill%3D%22%23fff%22%20d%3D%22m25.22%2011.96-3.18-3.18L17%2013.82l-5.04-5.04-3.18%203.18L13.82%2017l-5.04%205.04%203.18%203.18L17%2020.18l5.04%205.04%203.18-3.18L20.18%2017l5.04-5.04z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
}

.row {
  display: flex;
  justify-content: space-between;
  padding: .313em 50px;
  margin: 0 -32px;
}
.row:hover {
  background-color: #ededed;
}
.column {
  display: flex;
  flex-direction: column;
}
.column.one {
  width:100%;
}
.column.three {
  width:32%;
}
.cursiv {
  padding-left: 17px;
  font-size: 90%;
}
.wrapperChrono {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cardChrono {
  border-radius: 5px;
  display: flex;
  align-items: center;
  margin: 10px;
  cursor: grab;
  width: 100%;
  padding: 15px;
  box-shadow: 1px 1px 16px #ccc;
}
.nav-container {
  display: flex;
  justify-content: space-between;
}
.nav-link {
  text-align: center;
  cursor: pointer;
}
.nav-link.invizible{
  text-align: center;
  cursor: pointer;
  visibility: hidden;
}

.app-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
.primary-button {
  color: #fff;
  background-color: #6c6;
  border-radius: 5px;
  border-color: #5b5;
  margin: 0;
  padding: 0.4em 0.8em;
  line-height: 1.5em;
}
.block-styled {
margin: 1em 0;
}
.block-styled-answers {
  margin: 1em -32px 0px;
  padding: 0 32px 1em;
  background-color: #e7ecef;
}
  .block-styled-answers p{
  line-height: 2.5em;
}
.word-box {
  margin: 0.1em 0.5em;
  padding: 0.4em 0.5em;
  cursor: pointer;
  min-width: 1em;
  border-radius: 2px;
  display: inline-flex;
  min-width: 99px;
  height: 19px;
  position: relative;
  height: 40px;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  color: white;
  border: 2px dotted rgba(0, 180, 216, 0.7);
}
.word-box-inline {
  display: inline; 
}

.word-wrapper-answers {
  display: flex;
  gap:10px;
  flex-wrap: wrap;

}
.word-wrapper-answers .word-box {
  margin: 0;
  background-color: #00b4d8;
  border: none;
  box-shadow : 0 2px 5px #ccc;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin: 0 5px;
  line-height: 3.5;
}
.subject1-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 15px;
  gap: 15px;
}

.subject1-container img.img-subject{
  height: 350px;
  object-fit: cover;
  width: 30%;
  padding: 11px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 1px gray solid;
}

.paper {
  position: relative;
  height: 350px;
  background: rgba(255,255,255,0.9);
  box-shadow: 0px 0px 5px 0px #888;
}
.paper::before {
  content: '';
  position: absolute;
  left: 28px;
  height: 100%;
  width: 2px;
  background: rgba(255,0,0,0.4);
}
.lines {
  margin-top: 15px;
  height: calc(100% - 40px);
  width: 100%;
  background-image: repeating-linear-gradient(white 0px, white 24px, steelblue 25px);
}
.text {
  position: absolute;
  top: 40px;
  left: 50px;
  bottom: 10px;
  right: 10px;
  line-height: 25px;
  font-family: 'Indie Flower';
  overflow: hidden;
  outline: none;
}
.holes {
  position: absolute;
  left: 7px;
  height: 15px;
  width: 15px;
  background: lightgoldenrodyellow;
  border-radius: 50%;
  box-shadow: inset 0px 0px 2px 0px #888;
}
.hole-top {
  top: 10%;
}
.hole-middle {
  top: 50%;
}
.hole-bottom {
  bottom: 10%;
}
img.edit-img {
  position: absolute;
  width: 45px;
  height: 45px;
  bottom: 10px;
  right: 10px;
}
img.edit-img:hover{
  box-shadow: 1px 1px 16px #ccc;
  transform:scale(.95)
}
img.download-img {
  position: absolute;
  width: 40px;
  height: 45px;
  bottom: 10px;
  right: 10px;
}
img.download-img:hover{
  box-shadow: 1px 1px 16px #ccc;
  transform:scale(.95)
}
.btn-reper {
  background-color: transparent;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: inline-block;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin-left: 20px;
  padding: 0 0.5em; 
  text-align: center;
  font-weight: 700;



  border: 2px solid #8e44ad;;
border-radius: 0;
color: #8e44ad;
position: relative;
overflow: hidden;
z-index: 1;
transition: color 150ms ease-in-out;
}
.btn-reper:hover {
  color: #fff;
}

.btn-reper::after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #8e44ad;
  z-index: -1;
  transition: width 150ms ease-in-out;
}
.btn-reper:hover::after {
  width: 110%;
}
.popup-menu-container {
  position: relative;
}

.popup-menu {
  position: absolute;
  z-index: 2;
  transform: scale(0);
  transform-origin: top right;
  
  min-width: 10rem;
  margin-top: 0.1rem;
  padding: 1rem;
  background: #fff;
  border-radius: 0.5rem;
  
  transition: transform 0.2s;
  border: 1px solid gray;
  right: -25px;
}
.popup-menu.shown {
    transform: scale(1);
  }

.subject-item .points {
    display: flex;
    align-items: center;
    gap: 5px;
   }

.video-breakpoints-container {
  padding: 20px;
}

.h3-orange {
  color: #f3520c;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 500;
}

.video-breakpoints-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
}

.video-breakpoints-container .video-breakpoints-item {
  display: flex;
  width: 50%;
  margin-bottom: 5px;
  font-size: 15px;
  cursor: pointer;
  gap: 5px;
}
   

.video-breakpoints-container .video-breakpoints-item::before {
  content: '';
  background: #52c3b0;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  margin-right: 4px;
  margin-top: 6px;
}

/* Stiluri pentru modală */
.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
}

/* Stiluri pentru fundalul modalului */
.Modal__Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

/* Stiluri pentru butonul de închidere a modalei */
.Modal__CloseButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

/* Stiluri pentru conținutul modalului */
.Modal__Content {
  max-height: 400px;
  overflow-y: auto;
}

.btn-close-modal {
  width: 18px;
  height: 18px;
  background: white;
  border: none;
  /*! border-radius: 50%; */
  position: absolute;
  cursor: pointer;
  display: inline-block;
  margin: 10px 20px;
  right: -18px;
  top: -7px;
}
.btn-close-modal::before {
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -2px;
  width: 20px;
  height: 3px;
  background-color: #a9a3a3;
  content: "";
  position: absolute;
  transform: rotate(45deg);
  transition: 200ms cubic-bezier(0.175, 0.885, 0.52, 1.775);
}
.btn-close-modal::after {
  width: 20px;
  height: 3px;
  background-color: #a9a3a3;
  content: "";
  left: 50%;
  top: 50%;
  margin-left: -12px;
  margin-top: -2px;
  position: absolute;
  transform: rotate(-45deg);
  transition: 200ms cubic-bezier(0.175, 0.885, 0.52, 1.775);
}
.btn-close-modal:not(.showShadow):hover::before {
  transform: scale(0.7) rotate(45deg);
  transition-delay: 100ms;
}
.btn-close-modal:not(.showShadow):hover::after {
  transform: scale(0.7) rotate(-45deg);
  transition-delay: 100ms;
}

.table-fixed {
  width: 100%;
  table-layout: fixed;
}

.table-fixed th, .table-fixed td {
  /* width: 100px;  */
  overflow: hidden;
  white-space: nowrap; 
}

.custom-modal {
  width: 490px;
  margin: 93px auto;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
}

.custom-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0px;
}

.search-results-container {
  max-height: 300px; 
  overflow-y: auto;
}


.search-results-list > div {
  margin-bottom: 10px;
}

.userprofile {
  display: flex;
  flex-direction: column;
}


.userprofilein {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}

.userprofile .userprofilein .left {
  /* width: 20%; */
  /* background-color: aqua; */
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
  /* min-height: 50vh; */
}

.userprofile .userprofilein .right {
  width: 60%;
  /* background-color: aqua; */
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
  min-height: 50vh;
}



@media (max-width: 1000px) {
  .userprofile .userprofilein .left {
      width: 30%;
      /* background-color: aqua; */
      border: 1px solid rgb(207, 207, 207);
      border-radius: 5px;
      min-height: 50vh;
  }

  .userprofilein {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-top: 10vh;
      gap: 10px;
      flex-direction: column;
  }
}

@media (max-width: 1000px){
  .userprofile .userprofilein .left {
      width: 30%;
      /* background-color: aqua; */
      border: 1px solid rgb(207, 207, 207);
      border-radius: 5px;
      min-height: 50vh;
  }
  .userprofile .userprofilein .right {
      width: 68%;
      /* background-color: aqua; */
      border: 1px solid rgb(207, 207, 207);
      border-radius: 5px;
      min-height: 50vh;
  }

  .userprofilein {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-top: 10vh;
      gap: 10px;
      flex-direction: column;
  }
}

/* @media (max-width: 800px) {
  .userprofile .userprofilein .left {
      width: 20%;
      border: 1px solid rgb(207, 207, 207);
      border-radius: 5px;
      min-height: 50vh;
  }
  .userprofile .userprofilein .right {
      width: 78%;
      border: 1px solid rgb(207, 207, 207);
      border-radius: 5px;
      min-height: 50vh;
  }
} */

@media (max-width: 500px){
  .userprofilein {
      display: flex;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      margin-top: 10vh;
      gap: 20px;
  }

  .userprofile .userprofilein .left {
      width: 97%;
      /* background-color: aqua; */
      border: 1px solid rgb(207, 207, 207);
      border-radius: 5px;
      /* min-height: 50vh; */
      align-self: center;
      min-height: 0;
  }

  .userprofile .userprofilein .right {
      width: 97%;
      /* background-color: aqua; */
      border: 1px solid rgb(207, 207, 207);
      border-radius: 5px;
      /* min-height: 50vh; */
      align-self: center;
      min-height: 0;
  }
}

.usersidebar {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
}

.usersidebar > * {
  flex: 1;
}

.usersidebar .s1 , .usersidebar .s2{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 20px;
  height: 50px;
}

.usersidebar .s1 svg {
  width: 30px;
  height: 30px;
  color: gray;
}

.usersidebar .s2 svg {
  width: 30px;
  height: 30px;
  color: rgb(255, 255, 255);
}

.usersidebar .s1:hover{
  background-color: rgb(246, 246, 246);
  border-radius: 5px;
  cursor: pointer;
  color: grey;
}


.usersidebar .s2{
  background-color: var(--line-border-fill);
  border-radius: 5px;
  cursor: pointer;
  color: white;
  padding: 20px;
}
@media (max-width: 800px) {
  .usersidebar span{
      font-size: 12px;
  }
}
@media (max-width: 500px) {
  .usersidebar {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
      padding: 10px;
  }
  .usersidebar .s1 , .usersidebar .s2{
      display: flex;
      align-items: center;
      gap: 2px;
      padding: 3px;
  }
  .usersidebar .s1{
      background-color: white;
      border-radius: 25px;
      cursor: pointer;
      box-shadow:  0px 0px 10px 0px rgba(0,0,0,0.1);
      padding: 5px 20px;
  }
  .usersidebar .s2{
      border-radius: 25px;
      cursor: pointer;
      box-shadow:  0px 0px 10px 0px rgba(0,0,0,0.1);
      padding: 5px 20px;

  }
  .usersidebar span{
      font-size: 12px;
  }
}


.accountsettings{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 10px;
}

.accountsettings h1{
  padding: 10px 20px;
  font-weight: 300;
}


.accountsettings .form{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px;
}

.accountsettings .form .form-group{
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 10px;
}

.accountsettings .form .form-group label{
  font-size: 1.2rem;
  font-weight: 300;
  margin-bottom: 5px;
}

.accountsettings .form .form-group input{
  padding: 10px 20px;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
  outline: none;
}

.accountsettings .form .form-group input:focus{
  border: 1px solid var(--col1);
}



@media (max-width: 800px){
  .accountsettings .form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 10px 20px;
  }

  .accountsettings .form .form-group{
      display: flex;
      flex-direction: column;
      width: 97%;
      margin: 10px;
  }
  .accountsettings h1{
      font-size: 20px;
  }
  .accountsettings .form .form-group label{
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 5px;
  }
} 

a .subject-total-percent {
  font-size: 28px;
  color: #484848;
  padding-top: 10px;
  font-weight: 500;
}

.table-nested-child {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}

.table-nested {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  background: #fff;
  border: 2px solid #444;
  text-align: left;
  margin-top: 15px;
}

.table-nested th,
.table-nested td {
  padding: 0;
}

.table-nested td {
  border-top: 1px solid;
}

.table-nested td[colspan] {
  border: none;
}

.table-nested .cell-input {
  width: 20px;
  border-right: 1px solid;
}

.cell-name {
  width:90%;
}

.table-nested .cell-members {
  width: 100px;
}

.table-nested .indent {
  display: inline-block;
}

.parent {
  border-top: 1px solid;
}

.top-level-parent {
  background-color: #e5e6e4;
}

.level-two {
  background-color: #fbfbf2;
}


.table-nested .parent > .cell-name {
  cursor: pointer;
}

.cell-name {
  cursor: pointer;
}

.table-nested .parent > .cell-name > .indent {
  margin-right: 5px;
}

.table-nested .parent > .cell-name > .indent:before {
  content: "\f054";
  font-family: FontAwesome;
  display: inline-block;
  transition: transform 0.3s;
}

.table-nested .children {
  display: none;
}

.table-nested .opened > tr > .cell-name > .indent:before {
  transform: rotate(90deg);
}

.table-nested .opened > .children {
  display: table-row;
}

.context-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 8px;
  position: absolute;
  z-index: 1000;
}

.context-menu button {
  display: block;
  width: 100%;
  padding: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  text-align: left;
}

.context-menu button:hover {
  background-color: #f0f0f0;
}

.white-background .DraftEditor-root {
  background-color: white;
  border: 1px solid #ddd; 
  padding: 8px;
  height: 200px; 
  overflow: auto;
}

.small-button {
  padding: 3px 3px;
  font-size: 12px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  color: #333;
  border-radius: 4px;
  cursor: pointer;
}
.small-button:hover {
  background-color: #ddd;
}

.my-topic-transition-enter {
  transform: translateY(-100%);
  opacity: 0;
}

.my-topic-transition-enter-active {
  transform: translateY(0);
  opacity: 1;
  transition: transform 2000ms, opacity 3500ms;
}

.my-topic-transition-exit {
  transform: translateY(0);
  opacity: 1;
}

.my-topic-transition-exit-active {
  transform: translateY(-100%);
  opacity: 0;
  transition: transform 2000ms, opacity 3500ms;
}

.my-topic-transition {
  padding: 20px;
  background-color: #e0e0e0;
  margin-top: 20px;
}

.toolboxContainer {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.toolbox {
  height: auto;
  background: #ffffff;
  border-radius: 15px;
  text-align: center;
  cursor: pointer;
  border: 3px solid #ddd;
  background-color: rgb(230, 230, 230);
  margin: 7px;
}

.minor {
  width: 150px;
  padding: 14px;
    padding-bottom: 14px;
  padding-bottom: 25px;
  font-size: 100%;
}

.toolPreviewImage {
  width: 100%;
  pointer-events: none;
}

.toolboxTitle {
  font-weight: 600;
  position: absolute;
  bottom: 5px;
  padding: 10px;
  left: 0;
  right: 0;
  font-size: 14px;
}

.container-fluid .test-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}


.closeButton {
  background-color: transparent;
  color: #adb5bd; 
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 3px;
}

.addButton {
  background-color: transparent;
  color: #adb5bd; 
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

.closeButton:hover, .addButton:hover {
  color: black; 
}

.tags-input-container {
  display: flex;
  align-items: center;
  gap: .5em;
  flex-wrap: wrap;
  padding: .5em;
  border: 1px solid #d6d8da;
  border-radius: 6px;
}
.tags-input-container:focus-within {
  border: 1px solid #0052cc;
}
.tags-input-container input {
  flex: 1;
  border: none;
  height: 46px;
  font-size: 15px;
  padding: 4px 0 0 0;
}
.tags-input input:focus {
  outline: transparent;
}

.tag-item {
  display: inline-block;
  padding: .5em .75em;
  border-radius: 6px;
  background: rgb(218,216,216);
}

.tag-item .tag-title {
  margin-top: 3px;
}

.tag-item .tag-close-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 18px;
  margin-left: .5em;
  color: #fff;
  border-radius: 50%;
  background: rgb(48,48,48);
  cursor: pointer;
}

.tags-input {
  flex-grow: 1;
  padding: .5em 0;
  border: none;
  outline: none
}

/************ Banner Css ************/
.banner {
  margin-top: 0;
  padding: 20px 0 100px 0;
  background-image: url('./assets/img/banner-bg.png');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.banner .tagline {
  font-weight: 700;
  letter-spacing: 0.8px;
  padding: 8px 10px;
  background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 20px;
  margin-bottom: 16px;
  display: inline-block;
  color: #fff;
}
.banner h1 {
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1;
  margin-bottom: 20px;
  display: block;
  color: #fff;
}
.banner p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  width: 96%;
}
.banner .btn {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  margin-top: 60px;
  letter-spacing: 0.8px;
  display: flex;
  align-items: center;
  background-color: #ff499e;
  width: 233px;
  padding: 12px 30px;
}
.banner button svg {
  font-size: 25px;
  margin-left: 10px;
  transition: 0.3s ease-in-out;
  line-height: 1;
}
.banner button:hover svg {
  margin-left: 25px;
}
.banner img {
  animation: updown 3s linear infinite;
}
@keyframes updown {
    0% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(-20px);
    }
}
.txt-rotate > .wrap {
  border-right: 0.08em solid #666;
}

/************ Skills Css ************/
.skill {
  padding: 0 0 50px 0;
  position: relative;
  width: 1100px;
}
.skill .manual-item p {
  padding-top: 30px;
  color: #fff;
  font-size: 1.4rem;
}
.skill-bx {
  background: #151515;
  border-radius: 64px;
  text-align: center;
  padding: 180px 50px 50px;
  margin-top: -110px;

}
.skill h2 {
	font-weight: 700;
}
/* .skill p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
} */
.skill-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}
.skill-slider .item img {
  width: 50%;
  margin: 0 auto 15px auto;
}
.background-image-left {
  top: 28%;
  position: absolute;
  bottom: 0;
  width: 40%;
  z-index: -4;
}

/************ Projects Css ************/
.project {
  padding: 80px 0;
  position: relative;
  background-color: black;
}
.project h2 {
	font-size: 52px;
	font-weight: 700;
  text-align: center;
  color: #fff;
}
.project p {
  color: #B8B8B8;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px auto 30px auto;
  text-align: center;
  width: 56%;
}
.project .nav-pills {
  width: 72%;
  margin: 50px auto;
  border-radius: 50px;
  background-color: rgb(255 255 255 / 10%);
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.project .nav-pills .nav-item {
  width: 50%;
}
.project .nav-pills .nav-link {
  display: block;
  padding: .5rem 1rem;
  color: #0d6efd;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  background-color: transparent;
  border-radius: 0;
  padding: 17px 0;
  color: #fff;
  width: 100%;
  font-size: 17px;
  letter-spacing: 0.8px;
  font-weight: 500;
  position: relative;
  transition: 0.3s ease-in-out;
  text-align: center;
  z-index: 0;
}
.project .nav-pills .nav-item .nav-link::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background: linear-gradient(90.21deg, #bc4e9c -5.91%, #f80759 111.58%);
    top: 0;
    left: 0;
    z-index: -1;
    transition: 0.3s ease-in-out;
}
.project .nav-pills .nav-item.active .nav-link::before {
    width: 100% !important;
}

#projects-tabs-tab-first {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 55px 0px 0px 55px;
}
#projects-tabs-tab-second {
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 0 55px 55px 0;
}
#slideInUp {
  width: 1100px;
  margin: 0 auto;
}

.proj-imgbx {
  position: relative;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 24px;
  height: 260px;
}

.proj-imgbx img {
  height: 260px;
  object-fit: cover;
  width: 356px;
}


.proj-imgbx::before {
  content: "";
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  opacity: 0.85;
  position: absolute;
  width: 100%;
  height: 0;
  transition: 0.4s ease-in-out;
}
.proj-imgbx:hover::before {
  height: 100%;
}
.proj-txtx {
  position: absolute;
  text-align: center;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease-in-out;
  opacity: 0;
  width: 100%;
}
.proj-imgbx:hover .proj-txtx {
  top: 50%;
  opacity: 1;
}
.proj-txtx h4 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 1.1em;
  color: white;
}
.proj-txtx span {
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.8px;
  color: white;
}
.background-image-right {
  top: 20%;
  position: absolute;
  bottom: 0;
  width: 35%;
  right: 0;
  z-index: -4;
}

/************ Contact Css ************/
.contact {
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  padding: 60px 0 200px 0;
}
.contact img {
  width: 92%;
}
.contact h2 {
	font-size: 45px;
	font-weight: 700;
  margin-bottom: 30px;
  color: #fff;
}
.contact form input, .contact form textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  color: #fff;
  margin: 0 0 8px 0;
  padding: 18px 26px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.8px;
  transition: 0.3s ease-in-out;
}
.contact form input:focus, .contact form textarea:focus {
  background: rgba(255, 255, 255, 1);
  color: #121212;
}
.contact form input::placeholder, .contact form textarea::placeholder {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}
.contact form input:focus::placeholder, .contact form textarea:focus::placeholder {
  color: #121212;
  opacity: 0.8;
}
.contact form button, .nav-container button {
  font-weight: 700;
  color: #000;
  background-color: #fff;
  padding: 14px 48px;
  font-size: 18px;
  border-radius: 0;
  position: relative;
  transition: 0.3s ease-in-out;
}
.contact form button, .nav-container button {
  background-color: #f5f5f5;

}
.contact form button {
  margin-top: 25px;
}
.contact form button span, .nav-container button a {
  z-index: 1;
  position: relative;
}
.contact form button:hover, .nav-container button:hover {
  color: #fff;
}
/* .nav-container button:hover {
  color: #140202!important;
  background: #121212;
} */
.contact form button::before, .nav-container button::before{
  content: "";
  background: #121212;
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  transition: 0.3s ease-in-out;
}
.nav-container button::before{
  background: #cae9ff;
}
.contact form button:hover::before, .nav-container button:hover::before {
  width: 100%;
}
.contact p.success {
  color: white;
}

/************ Footer Css ************/
.footer {
  padding: 0 0 50px 0;
  background-image: url('./assets/img/footer-bg.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.newsletter-bx {
  background: #FFFFFF;
  border-radius: 55px;
  color: #121212;
  padding: 85px 125px;
  margin-bottom: 80px;
  margin-top: -122px;
}
.newsletter-bx h3 {
  font-weight: 700;
  line-height: 1.2em;
  font-size: 1.75rem;
}
.new-email-bx {
  background: #fff;
  padding: 5px;
  border-radius: 20px;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
}
.new-email-bx::before {
  content: "";
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
}
.new-email-bx::after {
  content: "";
  background: #fff;
  border-radius: 20px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.new-email-bx input {
  width: 100%;
  color: #121212;
  font-weight: 500;
  background: transparent;
  border: 0;
  padding: 0 15px;
  font-size: 1.1rem;
}
.new-email-bx button {
  background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
  padding: 20px 65px;
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.5px;
  border-radius: 18px;
}
.footer .logo img {
  width: 64%;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 20px;
}
.social-icon {
  display: inline-block;
  margin-left: 14px;
}
.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
}
.social-icon a img {
width: 40%;
z-index: 1;
transition: 0.3s ease-in-out;
}
.social-icon a:hover img {
filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}

.page-loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(./assets/img/loader.gif) center no-repeat #fff; }

  .active-slide {
    box-shadow: 0px 0px 5px 0px #888;
    border: 1px gray solid;
    transform: scale(1.5);
  }

  .card__slide{
    position: relative;
    transition: transform .2s;
  }

  .card__slide:hover {
    transform: scale(1.5); 
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  .card__slide__proc {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 35px;
    height: 35px;
    padding-top: 10px;
    background-color: coral;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-weight: 700;
    line-height: 13px;
    font-size: 10px;
}

.overlay_text {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.card__slide:hover .overlay_text {
  height: 100%;
}

.overlay_text .text {
  color: white;
  font-size: 10px;
  position: absolute;
  bottom: 5px;
  right: -50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  overflow: visible;
  line-height: 13px;
  text-shadow: 5px 4px 11px rgb(0,0,0), 0 2px 5px rgb(0,0,0);
}
.card__slide:hover .text {
  transform: translate(-44%, -20%) scale(1);
  width: 75%; 
}

/* Slick Arrows */

.slick-prev1, .slick-next1 {
  height: 20px;
  width: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
 
}

.slick-prev1 {
  background-image: url('./assets/img/slider-up-arrow.png');
  background-repeat: no-repeat;
  top: -27px;
  right: 47px;
  z-index: 10;
  background-size: 23px;
  z-index: 10;
}


.slick-next1 {
  background-image: url('./assets/img/slider-down-arrow.png');
  background-repeat: no-repeat;
  background-size: 23px;
  right: 40px;
  bottom: -27px;
  z-index: 20;
}

.slick-prev1:hover {
  cursor:pointer;
}

.slick-next1:hover {
  cursor:pointer;
}

/* Progress-bar */

.progress1 {
  width: 100%;
  height: 25px;
}

.progress-wrap1 {
  background: #f80;
  /* background: #04aa6d; */
  margin: 20px 0;
  overflow: hidden;
  position: relative;
  border-radius: 30px;
}
.progress-wrap1 .progress-bar1 {
  background: #ddd;
  left: 0;
  position: absolute;
  top: 0;
}
.topic-progress1 {
  white-space: nowrap;
  font-size: 1.2rem;
  width: 300px;
}

/* Swiper */
.swiper {
  width: 100%;
  height: 500px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-subtitle {
  background-color: transparent;
  width: 83%;
  height: 83%;
  perspective: 1000px;
}

.flip-card-inner-subtitle {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card-subtitle.rotate .flip-card-inner-subtitle {
  transform: rotateY(180deg);
}

.flip-card-front-subtitle, .flip-card-back-subtitle {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.flip-card-front-subtitle {
  background-color: #e4c1f9;
  color: black;
}

.flip-card-back-subtitle {
  background-color: #e4c1f9;
  color: black;
  transform: rotateY(180deg);
}

.flip-card-back-subtitle p{
  text-align: justify;
  line-height: 1.2;
}

.swiper-slide:nth-child(9n+1) .flip-card-front-subtitle { background-color: #e4c1f9; color: #000; }
.swiper-slide:nth-child(9n+2) .flip-card-front-subtitle { background-color: #c7d0f9; color: #000; }
.swiper-slide:nth-child(9n+3) .flip-card-front-subtitle { background-color: #a9def9; color: #000; }
.swiper-slide:nth-child(9n+4) .flip-card-front-subtitle { background-color: #bde9ec; color: #000; }
.swiper-slide:nth-child(9n+5) .flip-card-front-subtitle { background-color: #d0f4de; color: #000; }
.swiper-slide:nth-child(9n+6) .flip-card-front-subtitle { background-color: #e6f5ce; color: #000; }
.swiper-slide:nth-child(9n+7) .flip-card-front-subtitle { background-color: #fcf6bd; color: #000; }
.swiper-slide:nth-child(9n+8) .flip-card-front-subtitle { background-color: #fec8c3; color: #000; }
.swiper-slide:nth-child(9n+9) .flip-card-front-subtitle { background-color: #ff99c8; color: #000; }

/* Culorile pentru flip-card-back-subtitle */
.swiper-slide:nth-child(9n+1) .flip-card-back-subtitle { background-color: #e4c1f9; color: #000; }
.swiper-slide:nth-child(9n+2) .flip-card-back-subtitle { background-color: #c7d0f9; color: #000; }
.swiper-slide:nth-child(9n+3) .flip-card-back-subtitle { background-color: #a9def9; color: #000; }
.swiper-slide:nth-child(9n+4) .flip-card-back-subtitle { background-color: #bde9ec; color: #000; }
.swiper-slide:nth-child(9n+5) .flip-card-back-subtitle { background-color: #d0f4de; color: #000; }
.swiper-slide:nth-child(9n+6) .flip-card-back-subtitle { background-color: #e6f5ce; color: #000; }
.swiper-slide:nth-child(9n+7) .flip-card-back-subtitle { background-color: #fcf6bd; color: #000; }
.swiper-slide:nth-child(9n+8) .flip-card-back-subtitle { background-color: #fec8c3; color: #000; }
.swiper-slide:nth-child(9n+9) .flip-card-back-subtitle { background-color: #ff99c8; color: #000; }